@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(3, 35, 53);
    color: antiquewhite;

}

.Analyzer{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
    padding: 50px;

    
}
h1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.app{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

.input{
    display: flex;
    width: 50%;
    height: max-content;
    
    flex-direction: column;
    gap: 20px;
    background: rgb(10, 93, 141);
    padding: 20px;
    border-radius: 13px;
    
}


.output{
    
    width: 50%;
    
    
    
    background: rgb(10, 93, 141);
    padding: 20px;
    border-radius: 13px;
    
}

textarea {
    width: auto;
    height: 200px;
    background: rgb(37, 37, 37);
    color: rgb(125, 185, 125);
    border-radius: 6px;
    padding: 10px;
    resize: none;
  }

  #output {
    margin-top: 10px;
    white-space: pre-wrap;
  }


 
  button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
    cursor: pointer;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  